body {
  background-color: rgb(151, 151, 151);
  /* overflow: hidden; */
  /* Smoothly transition the background color */
  transition: background-color .5s;
}

#current-time{
  position: 'absolute';
  width: 64px;
}

#total-duration{
  position: 'absolute';
  box-sizing: '';
}

.player {
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.playpause-track .undo .marker {
  padding: 25px;
  opacity: 0.8;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}
/* .undo .marker {
  padding: 25px;
  opacity: 0.5;
} */

.undo:hover {
  color: paleturquoise;
  cursor: pointer;
}

.playpause-track:hover{
  color: paleturquoise;
  cursor: pointer;
}

.marker:hover{
  color: paleturquoise;
  cursor: pointer;
}

.slider_container {
  position:"absolute";
  width: 100%;
  max-width: 5000rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modify the appearance of the slider */
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3px;
  height: 15px;
  background: rgb(0, 0, 0);
  cursor: pointer;
  /* background-color: paleturquoise; */
}

.slider::-webkit-slider-thumb:hover {
  background-color: paleturquoise;
}

.slider {
  width: 90%;
}


.hw {
  position:absolute;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  top: 78px;
  left: -350%; 
  margin-top: -100px;
  visibility: hidden;
}

i.fa-map-marker:hover .hw{
  visibility: visible;
}

i.fa-map-marker {
  cursor: pointer;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;;
  text-align: center;
  width:357px;
  margin-left: 35%;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 8px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* format input box in table */